<div ng-controller="pFormController">
    <form role="form" ng-submit="submitForm()">
        <h2>Add new employee</h2>
            <div class="form-group">
              <label for="firstName"> First Name</label> 
              <input class="form-control" name="firstName" id="firstName" ng-model="FirstName"> 
              <br>
              <label for="lastName"> Last Name</label> 
              <input class="form-control" name="lastName" id="lastName" ng-model="LastName"> 
              <br>
              <label for="email">Email</label> 
              <input class="form-control" name="email" id="email" ng-model="Email"> 
              <br>
                <select  ng-model="CompanyId" name="companyId" value="{{ x.companyId }}" ng-options="x.companyId as x.name for x in data">
                </select>
            </div>
            <button type="submit" value="submit" class="btn btn-primary" >Done</button>
          </form>
</div>

