<div ng-controller="ctrl"> 
<h1>Welcome to my ASP.NET Entity Framework AngularJS app!</h1>
    <p>{{ word }}</p>
    <a href="/#/list">General List</a>
    <br />
    <a href="/#/Form">Add Employee Form</a>
    <hr>

    <ng-view></ng-view>

</div>