<div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container navcon">
            <a class="navbar-brand" href="/">Wedding Planner</a>
            <ul class="nav navbar-nav">
                <li><a href="/createForm">New Wedding</a></li>
                <!-- <li><a href="/products/q/?searchTerm=all">New Wedding</a></li> -->
            </ul>
            <form action="/logout">
                <button type="submit" class="btn btn-default navbar-btn pull-right">Sign out</button>
            </form>
        </div>
    </nav>
</div>