@model dojoBelt.Models.ActivityCheck
<h1>Dojo Activity Center</h1>
<a href="/logout">Log off</a> || <a href="/dashboard">Home</a>
<h2>Create an Activity</h2>
<hr>
<form asp-controller="Home" asp-action="CreateActivity" method="post">
    <label asp-for="Title"></label>
    <input class="form-control" asp-for="Title">
    <span asp-validation-for="Title"></span>

    <label asp-for="ActivityTime">Activity Time</label>
    <input class="form-control" asp-for="ActivityTime">
    <span asp-validation-for="ActivityTime"></span>

    <label asp-for="ActivityDate" for="rank" class="cols-sm-2 control-label">Date</label>    
    <input asp-for="ActivityDate" type="date"  id="ActivityDate" required="Required" class="form-control" name="ActivityDate" placeholder="Select suitable date">
    <span asp-validation-for="ActivityDate"></span>

    <label asp-for="Duration">Duration (in hours)</label>
    <input class="form-control" asp-for="Duration"> 
    <span asp-validation-for="Duration"></span>

    <label asp-for="Description">Description </label>
    <br>
    <textarea asp-for="Description"></textarea>
    <span asp-validation-for="Description"></span>
    <br>
    <input class="btn btn-primary" type="submit" value="Create Activity">
</form>

<script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementsByName("txtDate")[0].setAttribute('min', today);
</script>
