@{
    ViewData["Title"] = "REGISTER | SellWalker";
}
@model sellwalker.Models.Register

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SellWalker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            <a href="/login">Login</a>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
@ViewBag.error
<div class="register">
  <h1>Welcome to SellWalker</h1>
  <br>
  <div class="main-login main-center">
            <form asp-controller="User" asp-action="Register" method="post" class="form-horizontal">
              <div class="form-group">
                <label asp-for="FirstName" class="cols-sm-2 control-label">First Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span asp-validation-for="FirstName" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input asp-for="FirstName" type="text" class="form-control"  placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label asp-for="LastName" class="cols-sm-2 control-label">Last Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span asp-validation-for="LastName" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Enter your Last Name"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label asp-for="Email" class="cols-sm-2 control-label">Email</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span asp-validation-for="Email" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></i></span>
                    <input asp-for="Email" type="text" class="form-control"  placeholder="Enter your Email"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label asp-for="Password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span asp-validation-for="Password" class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter your Password"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label asp-for="ConfirmPassword" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span asp-validation-for="ConfirmPassword" class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                    <input asp-for="ConfirmPassword" type="password" class="form-control"  placeholder="Confirm your Password"/>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
              </div>
          </form>
              <div class="login-register">
                      <a href="/login">Already registered? Login</a>
                  </div>
          </div>
</div>
