<h1><a href="/dashboard">Home</a></h1>
 |<a href="/logout">Logout</a>|
<hr>
@{
        <h4>@ViewBag.name says:</h4>
        <p>@ViewBag.Post.Content</p>

<br>
<hr>
    <h4>People who liked this post:</h4>
<table>
    <tr>
        <th>NAME</th>
    </tr>
    @foreach (var liker in @ViewBag.LikesList)
    {
    
    <tr>
        <td><a href="/user/@liker.UserId"> @liker.LikedBy.FirstName </a></td>
    </tr>
    }
</table>

    }



    